<div class="container">
  <h1><%= form_title %></h1>

  <% if @post.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <%= form_for @post do |f| %>
        <div class="form-group">
          <%= f.text_field :title, placeholder: "Título", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.text_area :content, placeholder: "Contenido", class: "form-control", rows: "20" %>
        </div>
        <div>
          <%= f.submit form_title, class: "btn btn-primary pull-right" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
  