<h1><%= form_title %></h1>
<%= form_for @post do |f| %>
  <div>
    <%= f.text_field :title, placeholder: "Titulo" %>
  </div>
  <div>
    <%= f.text_area :content, placeholder: "Contenido" %>
  </div>
  <div>
    <%= f.submit form_title %>
  </div>
<% end %>