<h1>Posts</h1>

<%= link_to "Crear Post", new_post_path %>

<% @posts.each do |post| %>
  <div>
    <h2><%= link_to "Titulo:", post_path(post.id) %> <%= post.title %></h2>
    <p>Contenido: <%= post.content.truncate(255) %><%= link_to "...", post_path(post.id) %></p>
    <%= link_to "Ver más", post_path(post.id) %>
    <%= link_to "Editar", edit_post_path(post.id) %>
  </div>
<% end %>