<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<% @post.comments.each do |comment| %>
  <div>
    <header><%= comment.user.email %></header>
    <div><%= comment.content %></div>
  </div>
<% end %>

<% if signed_in? %>
  <%= form_for [@post, @post.comments.build] do |f| %>
    <div>
      <%= f.text_area :content, placeholder: "Agregar commentario" %>
    </div>
    <div>
      <%= f.submit "Comentar" %>
    </div>
  <% end %>
<% end %>
