<!DOCTYPE html>
<html>
  <head>
    <title>SuperBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <%= flash[:notice] %>
    <% end %>

    <% if signed_in? %>
      <div>Hola <%= current_user.email %></div>
    <% else %>
      <%= link_to "Ingresar", login_path %>
      <%= link_to "Registrarme", new_user_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
